# EDA

In [ ]:
!git clone https://github.com/sinbaramDL/dacon-credit-card-defaults-detection

In [ ]:
cd /content/dacon-credit-card-defaults-detection

In [44]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# seed 설정
np.random.seed(42)

sns.set_style("white")
sns.set_context("talk")

# 한글 사용 설정 
plt.rcParams['axes.unicode_minus'] = False

In [45]:
train = pd.read_csv("datasets/train.csv")
test = pd.read_csv("datasets/test.csv")

In [46]:
train.describe(include='all')

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit
count,26457.000000,26457,26457,26457,26457.000000,2.645700e+04,26457,26457,26457,26457,26457.000000,26457.000000,26457.0,26457.000000,26457.000000,26457.000000,18286,26457.000000,26457.000000,26457.000000
unique,NaN,2,2,2,NaN,NaN,5,5,5,6,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN,NaN,NaN
top,NaN,F,N,Y,NaN,NaN,Working,Secondary / secondary special,Married,House / apartment,NaN,NaN,NaN,NaN,NaN,NaN,Laborers,NaN,NaN,NaN
freq,NaN,17697,16410,17830,NaN,NaN,13645,17995,18196,23653,NaN,NaN,NaN,NaN,NaN,NaN,4512,NaN,NaN,NaN
mean,13228.000000,NaN,NaN,NaN,0.428658,1.873065e+05,NaN,NaN,NaN,NaN,-15958.053899,59068.750728,1.0,0.224742,0.294251,0.091280,NaN,2.196848,-26.123294,1.519560
std,7637.622372,NaN,NaN,NaN,0.747326,1.018784e+05,NaN,NaN,NaN,NaN,4201.589022,137475.427503,0.0,0.417420,0.455714,0.288013,NaN,0.916717,16.559550,0.702283
min,0.000000,NaN,NaN,NaN,0.000000,2.700000e+04,NaN,NaN,NaN,NaN,-25152.000000,-15713.000000,1.0,0.000000,0.000000,0.000000,NaN,1.000000,-60.000000,0.000000
25%,6614.000000,NaN,NaN,NaN,0.000000,1.215000e+05,NaN,NaN,NaN,NaN,-19431.000000,-3153.000000,1.0,0.000000,0.000000,0.000000,NaN,2.000000,-39.000000,1.000000
50%,13228.000000,NaN,NaN,NaN,0.000000,1.575000e+05,NaN,NaN,NaN,NaN,-15547.000000,-1539.000000,1.0,0.000000,0.000000,0.000000,NaN,2.000000,-24.000000,2.000000
75%,19842.000000,NaN,NaN,NaN,1.000000,2.250000e+05,NaN,NaN,NaN,NaN,-12446.000000,-407.000000,1.0,0.000000,1.000000,0.000000,NaN,3.000000,-12.000000,2.000000
max,26456.000000,NaN,NaN,NaN,19.000000,1.575000e+06,NaN,NaN,NaN,NaN,-7705.000000,365243.000000,1.0,1.000000,1.000000,1.000000,NaN,20.000000,0.000000,2.000000

In [47]:
train['income_type'].unique()

array(['Commercial associate', 'Working', 'State servant', 'Pensioner',
       'Student'], dtype=object)

In [48]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26457 entries, 0 to 26456
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          26457 non-null  int64
 1   gender         26457 non-null  object
 2   car            26457 non-null  object
 3   reality        26457 non-null  object
 4   child_num      26457 non-null  int64
 5   income_total   26457 non-null  float64
 6   income_type    26457 non-null  object
 7   edu_type       26457 non-null  object
 8   family_type    26457 non-null  object
 9   house_type     26457 non-null  object
 10  DAYS_BIRTH     26457 non-null  int64
 11  DAYS_EMPLOYED  26457 non-null  int64
 12  FLAG_MOBIL     26457 non-null  int64
 13  work_phone     26457 non-null  int64
 14  phone          26457 non-null  int64
 15  email          26457 non-null  int64
 16  occyp_type     18286 non-null  object
 17  family_size    26457 non-null  float64
 18  begin_month    26457 non-null  float64
 19  credit         26457 non-null  float64
dtypes: float64(4), int64(8), object(8)
memory usage: 4.0+ MB

In [49]:
train.head(10)

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit
0,0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,-13899,-4709,1,0,0,0,NaN,2.0,-6.0,1.0
1,1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,Laborers,3.0,-5.0,1.0
2,2,M,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,Managers,2.0,-22.0,2.0
3,3,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15088,-2092,1,0,1,0,Sales staff,2.0,-37.0,0.0
4,4,F,Y,Y,0,157500.0,State servant,Higher education,Married,House / apartment,-15037,-2105,1,0,0,0,Managers,2.0,-26.0,2.0
5,5,F,N,Y,2,270000.0,Working,Secondary / secondary special,Married,House / apartment,-13413,-4996,1,0,0,1,High skill tech staff,4.0,-18.0,1.0
6,6,F,N,N,0,315000.0,Working,Secondary / secondary special,Separated,House / apartment,-17570,-1978,1,0,0,1,Core staff,1.0,-41.0,2.0
7,7,M,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-14896,-5420,1,0,0,1,Drivers,2.0,-53.0,0.0
8,8,M,Y,Y,1,180000.0,Commercial associate,Higher education,Married,House / apartment,-15131,-1466,1,0,0,1,NaN,3.0,-38.0,2.0
9,9,F,N,Y,0,103500.0,Working,Secondary / secondary special,Married,House / apartment,-15785,-1308,1,0,0,0,Medicine staff,2.0,-5.0,2.0

# Feature Engineering

In [50]:
train = train.drop(["index"], axis=1)
test = test.drop(["index"], axis=1)

In [51]:
train[train.duplicated()]

,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit
419,M,Y,Y,0,135000.0,Working,Secondary / secondary special,Married,House / apartment,-18820,-3185,1,0,1,0,Low-skill Laborers,2.0,-7.0,1.0
716,F,N,Y,0,157500.0,Pensioner,Secondary / secondary special,Widow,House / apartment,-21497,365243,1,0,0,0,NaN,1.0,-4.0,1.0
877,M,Y,N,2,180000.0,State servant,Secondary / secondary special,Married,House / apartment,-12240,-4663,1,0,0,0,Core staff,4.0,-24.0,2.0
1056,F,N,Y,0,90000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-24665,365243,1,0,0,0,NaN,2.0,-35.0,2.0
1315,F,Y,Y,0,130500.0,Working,Secondary / secondary special,Married,House / apartment,-16137,-9391,1,0,1,0,Laborers,2.0,-29.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26374,F,Y,N,0,112500.0,Working,Secondary / secondary special,Married,Municipal apartment,-17372,-978,1,0,1,0,Sales staff,2.0,-15.0,1.0
26393,M,Y,Y,0,247500.0,Working,Secondary / secondary special,Married,House / apartment,-14122,-3383,1,0,0,0,Managers,2.0,-31.0,2.0
26428,F,Y,Y,2,270000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,-12745,-525,1,0,0,1,Core staff,4.0,-23.0,1.0
26446,F,N,Y,0,135000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,-16300,-9698,1,0,0,1,Managers,2.0,-41.0,2.0
26451,F,N,Y,0,202500.0,Working,Higher education,Married,House / apartment,-12831,-803,1,1,1,0,Accountants,2.0,-44.0,1.0

In [52]:
train.drop_duplicates(subset=None, inplace=True)

In [53]:
train["FLAG_MOBIL"].value_counts()

1    24823
Name: FLAG_MOBIL, dtype: int64

In [54]:
train = train.drop(["FLAG_MOBIL"], axis=1)
test = test.drop(["FLAG_MOBIL"], axis=1)

## Feature Creation

In [55]:
data = pd.concat([train, test], axis=0)
print(train.shape)
print(test.shape)
print(data.shape)

(24823, 18)
(10000, 17)
(34823, 18)

### occyp_type을 credit 평균치로 환산

In [56]:
data['occyp_type'].fillna('OTHER',inplace = True)
#occyp_mean_score = data.groupby(['occyp_type']).mean()['credit']
#data['occyp_mean_score'] = data['occyp_type'].apply(lambda x : occyp_mean_score[x] )
data[["occyp_type"]].describe(include='all')

       occyp_type
count       34823
unique         19
top         OTHER
freq        10765

### houst_type credit 평균치로 환산

In [57]:
#house_mean_score = data.groupby(['house_type']).mean()['credit']
#data['house_mean_score'] = data['house_type'].apply(lambda x : house_mean_score[x] )
#data[["house_mean_score", "house_type"]].describe(include='all')

### family related feature creation
1. 전체소득 / 가족수 --> 인당 인컴 수준
2. family_size - childnum --> 어른 수 linear해서 큰의미가 없을 것 같긴하지만 3을 위해서 활용
3. 전체소득 / 2에서 나온 것 --> 어른당 얼마정도 사용가능한지 연산

In [58]:
counts, bin_dividers = np.histogram(data['income_total'], bins=7)
data['income_total'] = pd.factorize(pd.cut(data['income_total'], bins = bin_dividers, include_lowest=True, labels=[0,1,2,3,4,5,6]))[0] 
data['total_income/famliy_size'] = data['income_total']/(data['family_size']+1)
data['adult'] = data['family_size'] - data['child_num']
data['adult'] = data['adult'].apply(lambda x : x if x > 0.0 else -x)
data['total_income/adult'] = data['income_total'] / (data['adult'] + 1)
data[["income_total", "total_income/famliy_size", "adult"]].describe(include='all')

       income_total  total_income/famliy_size         adult
count  34823.000000              34823.000000  34823.000000
mean       0.199265                  0.066308      1.767912
std        0.456867                  0.157829      0.422579
min        0.000000                  0.000000     -0.000000
25%        0.000000                  0.000000      2.000000
50%        0.000000                  0.000000      2.000000
75%        0.000000                  0.000000      2.000000
max        6.000000                  2.000000      2.000000

### DAYS_BIRTH, DAYS_EMPLOYED, begin_month 처리

In [59]:
data["DAYS_EMPLOYED"] = -data["DAYS_EMPLOYED"]
data['DAYS_EMPLOYED'] = data['DAYS_EMPLOYED'].apply(lambda x : x if x > 0.0 else -x)
data["DAYS_BIRTH"] = -data["DAYS_BIRTH"]
data["begin_month"] = -data["begin_month"]
data[["DAYS_EMPLOYED", "DAYS_BIRTH", "begin_month"]].describe(include="all")

data["income_type"].unique()

array(['Commercial associate', 'Working', 'State servant', 'Pensioner',
       'Student'], dtype=object)

### credit card 발급일 관련
1. when_begin_age = begin_month / Days_birth --> 나이대 대비 얼마쯤에 발급한 것인지
2. when_begin_employed = begin_month / Employed --> 고용된 것 대비 얼마만에 발급한 것인지
3. begin_income = begin_month / incometotal--> 버는 것 대비 빌린거는 얼마나 되었는지 --> 좀 이상하긴하네..
* 음.. 전처리부분이 고려가 안되어서 그거 고려해서 생각해야할 듯 함 일단 늘리기만 하기 오늘은 (employed - 3만 얼마인가 있음)
* 그리고 얘들은 구간을 나눠서 대표값으로 처리해버리면 더 안좋아질 수도 있을 것 같긴함

In [60]:
data['when_begin_age'] = data['begin_month'] / (data['DAYS_BIRTH'] + 1)
data['when_begin_employed'] = data['begin_month'] / (data['DAYS_EMPLOYED'] + 1)
data['begin_income'] = data['begin_month'] / (data['income_total'] + 1)
data[["when_begin_age", "when_begin_employed", "begin_income"]].describe(include="all")

       when_begin_age  when_begin_employed  begin_income
count    34823.000000         34823.000000  34823.000000
mean         0.001736             0.021616     23.640757
std          0.001188             0.046126     16.166102
min         -0.000000            -0.000000     -0.000000
25%          0.000753             0.002131     10.000000
50%          0.001557             0.008427     21.000000
75%          0.002514             0.020049     36.000000
max          0.006404             0.756757     60.000000

### 나이 관련
전처리에서 구간별로 나눠진 나이를 활용하면 아래의 적용이 힘들 것 같고 아래의 식은 기존의 컬럼 활용 구간별로 적용은 따로 한개 더 만드는게 좋을 듯 1. age_income = income_total / DAYS_BIRTH --> 나이대비 얼마나 버는지 2. age_employed = DAYS_EMPLOYED / DAYS_BIRTH --> 일한지는 살아생전에 얼만마 대는지? 3. DAYS_BIRTH / 365 --> 나이 연률화

In [61]:
data['income_age'] = data['income_total'] / (data['DAYS_BIRTH'] + 1)
data['employed_age'] = data['DAYS_EMPLOYED'] / (data['DAYS_BIRTH'] + 1)
data['yearly_age'] = data['DAYS_BIRTH'] // 365 
data[["income_age", "employed_age", "yearly_age"]].describe(include='all')

         income_age  employed_age    yearly_age
count  34823.000000  34823.000000  34823.000000
mean       0.000013      3.002016     43.248571
std        0.000032      6.344389     11.516792
min        0.000000      0.001239     20.000000
25%        0.000000      0.084206     34.000000
50%        0.000000      0.179396     42.000000
75%        0.000000      0.377240     53.000000
max        0.000493     44.837098     68.000000

### 고용 관련
전처리 부분에서 0,1로 고용유무로 구분하는 컬럼하나와 그냥 두는 컬럼 2개다 활용하는 것이 좋은 듯 함 고용기간 별구간나누는 것 까지는 잘 모르겠음 1. income_total / employed --> 고용된 것 대비 얼마나 버는지 2. DAYS_EMPLOYED /365 연률화

In [62]:
data['income_employed'] = data['income_total'] / (data['DAYS_EMPLOYED'] + 1)
data['yearly_employed'] = data['DAYS_EMPLOYED'] // 365
data[["income_employed", "yearly_employed"]].describe(include='all')

       income_employed  yearly_employed
count     34823.000000     34823.000000
mean          0.000169       174.008500
std           0.000741       371.742072
min           0.000000         0.000000
25%           0.000000         3.000000
50%           0.000000         6.000000
75%           0.000000        15.000000
max           0.027778      1000.000000

### AND 연산 뻥튀기
1. 차와 집 동시 소유 - 전처리에서 Y =1 N =0 으로 전처리 필요
2. 이메일과 전화 동시 소유 -> 그래도 가지고 있는애들이 소득이 조금 높아보이긴 하기 떄문에 활용

In [63]:
data['gender'] = data['gender'].replace(['F','M'], [0, 1])
data['car'] = data['car'].replace(['N', 'Y'], [0, 1])
data['reality'] = data['reality'].replace(['N', 'Y'], [0,1])
data['car&home'] = data['car'] * data['reality']
data['email&phone'] = data['email'] * data['phone']
data[["car&home", "email&phone"]].describe(include='all')

           car&home   email&phone
count  34823.000000  34823.000000
mean       0.251587      0.027769
std        0.433931      0.164313
min        0.000000      0.000000
25%        0.000000      0.000000
50%        0.000000      0.000000
75%        1.000000      0.000000
max        1.000000      1.000000

### 총소득 관련
1. total_earned_money = income_total x (DAYS_EMPLOYED / 365) --> 이떄까지 번 것, DAYS_EMPLOYED가 양수로 바뀔 필요있을 것 같음
2. total/family = total_earned_money / family_num
3. total/age = total_earned_money / DAYS_BIRTH --> 나이대비 이때까지 얼마 벌었는지
4. log(income_total) --> 소득의 비선형성 고려

In [64]:
data['total_earned_money'] = data['income_total'] * (data['DAYS_EMPLOYED'] / 365)
data['total/family'] = data['total_earned_money'] / (data['family_size'] + 1)
data['total/age'] = data['total_earned_money'] / (data['DAYS_BIRTH'] + 1)
data['log_income'] = np.log(data['income_total'] + 1)
data[["total_earned_money", "total/family", "total/age", "log_income"]].describe(include='all')

       total_earned_money  total/family     total/age    log_income
count        34823.000000  34823.000000  34823.000000  34823.000000
mean            16.099133      5.965170      0.000795      0.132148
std            127.995360     50.197684      0.006164      0.287665
min              0.000000      0.000000      0.000000      0.000000
25%              0.000000      0.000000      0.000000      0.000000
50%              0.000000      0.000000      0.000000      0.000000
75%              0.000000      0.000000      0.000000      0.000000
max           3001.997260   1500.998630      0.137751      1.945910

# Data Preprocessing

In [65]:
train=data[:len(data)-10000]
test=data[len(data)-10000:]
train_x = train.drop("credit", axis = 1)
train_y = train['credit']
test=test.drop('credit', axis=1)

In [66]:
# Before preprocessing
train_x.describe(include='all')

,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,...,employed_age,yearly_age,income_employed,yearly_employed,car&home,email&phone,total_earned_money,total/family,total/age,log_income
count,24823.000000,24823.000000,24823.000000,24823.000000,24823.000000,24823,24823,24823,24823,24823.00000,...,24823.000000,24823.000000,24823.000000,24823.000000,24823.000000,24823.000000,24823.000000,24823.000000,24823.000000,24823.000000
unique,NaN,NaN,NaN,NaN,NaN,5,5,5,6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,Working,Secondary / secondary special,Married,House / apartment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,12787,16872,17059,22170,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,0.331346,0.379487,0.672723,0.431052,0.201587,NaN,NaN,NaN,NaN,15950.93647,...,2.992024,43.193893,0.000172,173.476937,0.251903,0.028482,16.870871,6.316066,0.000831,0.133777
std,0.470707,0.485269,0.469229,0.750627,0.457582,NaN,NaN,NaN,NaN,4204.79398,...,6.331864,11.522661,0.000758,371.285055,0.434115,0.166348,131.624593,52.344221,0.006335,0.288893
min,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,7705.00000,...,0.001239,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,12443.00000,...,0.082736,34.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,1.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,15534.00000,...,0.179236,42.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,19426.00000,...,0.375050,53.000000,0.000000,15.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,19.000000,6.000000,NaN,NaN,NaN,NaN,25152.00000,...,44.837098,68.000000,0.027778,1000.000000,1.000000,1.000000,3001.997260,1500.998630,0.137751,1.945910

In [67]:
from sklearn import preprocessing

nunique = train.nunique()
types = train.dtypes

categorical_columns = []
categorical_dims =  {}
for col in train_x.columns:
    if types[col] == 'object' or nunique[col] < 200:
        print(col, train_x[col].nunique())
        l_enc = preprocessing.LabelEncoder()
        train_x[col] = train_x[col].fillna("NaN")
        train_x[col] = l_enc.fit_transform(train_x[col].values)
        try:
            test[col] = test[col].fillna("NaN")
            test[col] = l_enc.transform(test[col].values)
        except:
            print(f"Column {col} does not exist in test set")
        categorical_columns.append(col)
        categorical_dims[col] = len(l_enc.classes_)
    else:
        training_mean = train_x.loc[train.index, col].mean()
        train.fillna(training_mean, inplace=True)
        test.fillna(training_mean, inplace=True)

gender 2
car 2
reality 2
child_num 9
income_total 7
income_type 5
edu_type 5
family_type 5
house_type 6
work_phone 2
phone 2
email 2
occyp_type 19
family_size 10
begin_month 61
total_income/famliy_size 18
adult 3
total_income/adult 9
begin_income 159
Column begin_income does not exist in test set
yearly_age 48
Column yearly_age does not exist in test set
yearly_employed 45
car&home 2
email&phone 2
log_income 7
C:\Users\sinji\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:4462: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [70]:
# After preprocessing
train.describe(include='all')

,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,...,employed_age,yearly_age,income_employed,yearly_employed,car&home,email&phone,total_earned_money,total/family,total/age,log_income
count,24823.000000,24823.000000,24823.000000,24823.000000,24823.000000,24823,24823,24823,24823,24823.00000,...,24823.000000,24823.000000,24823.000000,24823.000000,24823.000000,24823.000000,24823.000000,24823.000000,24823.000000,24823.000000
unique,NaN,NaN,NaN,NaN,NaN,5,5,5,6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,Working,Secondary / secondary special,Married,House / apartment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,12787,16872,17059,22170,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,0.331346,0.379487,0.672723,0.431052,0.201587,NaN,NaN,NaN,NaN,15950.93647,...,2.992024,43.193893,0.000172,173.476937,0.251903,0.028482,16.870871,6.316066,0.000831,0.133777
std,0.470707,0.485269,0.469229,0.750627,0.457582,NaN,NaN,NaN,NaN,4204.79398,...,6.331864,11.522661,0.000758,371.285055,0.434115,0.166348,131.624593,52.344221,0.006335,0.288893
min,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,7705.00000,...,0.001239,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,12443.00000,...,0.082736,34.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,1.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,15534.00000,...,0.179236,42.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,19426.00000,...,0.375050,53.000000,0.000000,15.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,19.000000,6.000000,NaN,NaN,NaN,NaN,25152.00000,...,44.837098,68.000000,0.027778,1000.000000,1.000000,1.000000,3001.997260,1500.998630,0.137751,1.945910

In [71]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24823 entries, 0 to 26456
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    24823 non-null  int64
 1   car                       24823 non-null  int64
 2   reality                   24823 non-null  int64
 3   child_num                 24823 non-null  int64
 4   income_total              24823 non-null  int64
 5   income_type               24823 non-null  object
 6   edu_type                  24823 non-null  object
 7   family_type               24823 non-null  object
 8   house_type                24823 non-null  object
 9   DAYS_BIRTH                24823 non-null  int64
 10  DAYS_EMPLOYED             24823 non-null  int64
 11  work_phone                24823 non-null  int64
 12  phone                     24823 non-null  int64
 13  email                     24823 non-null  int64
 14  occyp_type                24823 non-null  object
 15  family_size               24823 non-null  float64
 16  begin_month               24823 non-null  float64
 17  credit                    24823 non-null  float64
 18  total_income/famliy_size  24823 non-null  float64
 19  adult                     24823 non-null  float64
 20  total_income/adult        24823 non-null  float64
 21  when_begin_age            24823 non-null  float64
 22  when_begin_employed       24823 non-null  float64
 23  begin_income              24823 non-null  float64
 24  income_age                24823 non-null  float64
 25  employed_age              24823 non-null  float64
 26  yearly_age                24823 non-null  int64
 27  income_employed           24823 non-null  float64
 28  yearly_employed           24823 non-null  int64
 29  car&home                  24823 non-null  int64
 30  email&phone               24823 non-null  int64
 31  total_earned_money        24823 non-null  float64
 32  total/family              24823 non-null  float64
 33  total/age                 24823 non-null  float64
 34  log_income                24823 non-null  float64
dtypes: float64(16), int64(14), object(5)
memory usage: 7.3+ MB

# Model Selection

In [72]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import GridSearchCV, StratifiedKFold, train_test_split
from sklearn.metrics import log_loss
from lightgbm import LGBMClassifier, plot_importance
import torch
from pytorch_tabnet.multitask import TabNetMultiTaskClassifier

def model_experiment(tx, ty):
    logloss = {}
    logloss["Gradient Boosting"] = {}
    logloss["Light GBM"] = {}
    logloss["TabNet"] = {}

    X_train, X_val, Y_train, Y_val = train_test_split(tx, ty,stratify=ty, test_size=0.25, random_state=10086)
    y_val_onehot = pd.get_dummies(Y_val)

    gb_param_grid = {
        'n_estimators' : [100, 200],
        'max_depth' : [8, 10, 12],
        'min_samples_leaf' : [5, 7, 10],
        'min_samples_split' : [2, 3, 5],
        'learning_rate' : [0.05, 0.1, 0.2]
    }
    gb = GradientBoostingClassifier()
    gb.fit(X_train, Y_train)
    predict = gb.predict_proba(X_val)
    logloss["Gradient Boosting"] = {"model" : gb, "logloss" : log_loss(y_val_onehot, predict)}

    lgb = LGBMClassifier(n_estimators=1000)
    evals = [(X_val, Y_val)]
    lgb.fit(X_train, Y_train, early_stopping_rounds=100, eval_metric="logloss",     eval_set=evals, verbose=True)
    predict = lgb.predict_proba(X_val)
    logloss["Light GBM"] = {"model" : lgb, "logloss" : log_loss(y_val_onehot, predict)}

    clf = TabNetMultiTaskClassifier(
        n_d=64, n_a=64, n_steps=1,
        lambda_sparse=1e-4,
        optimizer_fn=torch.optim.Adam,
        optimizer_params=dict(lr=2e-2),
        scheduler_params = {"gamma": 0.9, "step_size": 50},
        scheduler_fn=torch.optim.lr_scheduler.StepLR,
        mask_type='entmax', 
        device_name='cuda'
    )
    
    clf.fit(
        X_train.values, np.array(Y_train).reshape(-1,1),
        max_epochs=1000,
        patience=50,
        batch_size=1024,
        virtual_batch_size=128,
        num_workers=1,
        drop_last=False
    )
    predict = clf.predict_proba(X_val.values)
    predict = pd.DataFrame(np.reshape(np.array(predict), (-1,3)), columns=[0.0, 1.0, 2.0])
    logloss["TabNet"] = log_loss(y_val_onehot, predict)
    logloss["TabNet"] = {"model" : clf, "logloss" : log_loss(y_val_onehot, predict)}

    return logloss

In [74]:
logloss = model_experiment(train_x, train_y)
print(logloss)

KeyboardInterrupt:

In [ ]:
clf = logloss["TabNet"]["model"]
preds = clf.predict_proba(test)

In [ ]:
clf.feature_importances_

In [ ]:
len(test)

In [ ]:
i, j, k = [], [], []
for row in range(10000):
  i.append(preds[0][row][0])
  j.append(preds[0][row][1])
  k.append(preds[0][row][2])

len(i), len(j), len(k)
submission = pd.read_csv(path+'sample_submission.csv')
submission['0'] = i
submission['1'] = j
submission['2'] = k
submission.head(10)

In [ ]:
submission.to_csv(path+"submisison_tabnet.csv",index=False)